@* list Template File *@
@(users: List[User])

@main("Lista użytkowników") {
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>email</th>
					<th>zdjęcie</th>
					<th>admin</th>
					<th>liczba kontaktów</th>
				</tr>
			</thead>
			<tbody>
				@for(user <- users) {
					<tr>
						<td>@user.id</td>
						<td>@user.email</td>
						<td>
							@if(user.image != null) {
								<img src="@routes.Assets.at(user.image)" >
							}
						</td>
						<td>@user.isAdmin</td>
						<td>@user.contacts.length</td>
					</tr>	
				}
			</tbody>		
		</table>
	</div>
	
	
	}
