@(loginForm: play.data.Form[Application.LoginData])
@import helper._
@import helper.twitterBootstrap._

@main("Zaloguj się!") {
	@helper.form(helper.CSRF(routes.Application.authenticate)) {
		<h2>Podaj email i hasło</h2>
		<p><span>Email:</span><input type="email" name="email" value="@loginForm("email").value"></p>
		<p><span>Hasło:</span><input type="password" name="password" value="@loginForm("password").value"></p>
		<button type="submit" class="btn btn-primary">Zaloguj się!</button>
		<a href="@routes.Application.register()" class="btn btn-primary">Zarejestruj się</a>
		}
	
	}
