@* register Template File *@
@(registerForm: play.data.Form[Application.LoginData])
@import helper._
@import helper.twitterBootstrap._

@main("Zarejestruj się") {
		@helper.form(helper.CSRF(routes.Application.addUser())) {
			
			<h2>Podaj email i hasło</h2>
			<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="email" id="inputEmail" name="email" value="@registerForm("email").value" placeholder="email">
				</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Hasło</label>
			<div class="controls">
				<input type="password" id="inputPassword" name="password" value="@registerForm("password").value" placeholder="hasło">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Hasło ponownie</label>
			<div class="controls">
				<input type="password" id="inputPassword" name="password2" value="@registerForm("password2").value" placeholder="hasło">
			</div>
		</div>
		<br>
		<div class="control-group">
			<button type="submit" class="btn btn-primary">Zarejestruj się</button>
			<a href="@routes.Application.login()" class="btn btn-primary">Powrót do logowania</a>
		</div>
			
	}
}
